<% if @selected_location.present? %>
  <div class="container">
  <h1>Search Results for Champions in <%= @selected_location.name %></h1>

    <div class="row">
    <% if @champions_like.any? %>
        <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
              <% @champions_like.each do |champion| %>
                <%= link_to link_to champion.name, champion, champion %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
      <p>No champions found in this location.</p>    <% end %>
<% else %>
  <% if @champions_like.nil?%>
    <h1>Search Results for Champions: <%= @input %> </h1>
    <p>Error: Please enter a value in the search bar or select a location from the drop down menu.</p>
  <% else %>
    <h1>Search Results for Champions: <%= @input %></h1>
    <ul>
      <% @champions_like.each do |champion| %>
        <li><%= link_to champion.name, champion %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

</div>