<div class="container">
  <% if @selected_location.present? %>
  <h1>Search Results for Champions in <%= @selected_location.name %></h1>

    <div class="row">
    <% if @champions_like.any? %>
      <% @champions_like.each do |champion| %>
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-body">
              <%= link_to champion.name, champion %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <nav>
    <ul class="pagination justify-content-center">
      <%= paginate @champions_like %>
    </ul>
  </nav>
    <% else %>
      <p>No champions found in this location.</p>    <% end %>
<% else %>
  <% if @champions_like.nil?%>
    <h1>Search Results for Champions: <%= @input %> </h1>
    <p>Error: Please enter a value in the search bar or select a location from the drop down menu.</p>
  <% else %>
    <h1>Search Results for Champions: <%= @input %></h1>
    <div class="row">
      <% @champions_like.each do |champion| %>
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-body">
              <%= link_to champion.name, champion %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <nav>
    <ul class="pagination justify-content-center">
      <%= paginate @champions_like %>
    </ul>
  </nav>
  <% end %>
<% end %>
</div>